*{
    padding: 0px;
    margin: 0px;
}
body{

    font-family: 'Indie Flower', cursive;
    background-color: rgb(78, 13, 138);
    font-weight: bold;
    
}

#container { 
    border: 1px solid red;
    width: 1100px;
    margin: 0px auto;
   
}
.about{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;
}

nav{
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    height: 50px;
    border-bottom: 1px solid rgb(128, 197, 25);


}

nav ul li {
  text-align: center;
  float: left;
  list-style: none;
  margin: 10px;
  line-height: 30px;
}

.clearfix{ 
    
    clear: both;
}

.content{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.items{
    padding-left: 450px;
    text-align: center;
    justify-content: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    line-height: 50px;
}

.main{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
}

.video{
    width: 640px;
    height: 640px;
    padding: 10px 10px 10px 200px;
    }

.agony{
    padding: 10px 10px 10px 200px;
}
.youtube{
    padding: 10px 10px 10px 200px;
}

iframe{

    width: 100%;
    height: 100%;
    position: calc(56.25%);
    width: 640px;
    height: 640px;

   
   
}


.goback{
    text-align: center;
    background-color: rgb(128, 197, 25);
    width: auto;
    height: auto;
    
}

