header{

    text-align: center;
    border-bottom: 3px dashed white;
    line-height: 100px;
}

#article{
    text-align: center;
}

body{


    background: rgb(2,0,36);
    background: linear-gradient(62deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 78%, rgba(0,212,255,1) 100%);
    font-family: 'Indie Flower', cursive;
    color: beige;

}

#container{
/*border: 1px solid red;*/
margin: 0px auto;
width: 1100px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.article{
    color: rgb(112, 7, 7);
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;

}

nav{
    background-color: rgb(43, 255, 0);
    height: 50px;
    border-bottom: 1px solid red;
}

footer{

    background-color: green;
    text-align: center;
}